ipykernel
fastapi
uvicorn
yfinance
pandas
pydantic
pydantic-settings
python-multipart
nse
dhanhq
pandas
pyotp
python-dotenv
nse
NorenRestApi==0.0.32
azure-storage-blob
azure-identity
azure-ai-documentintelligence
groq
agno
duckduckgo-search